@charset "utf-8";
/* CSS Document */
.line-break {
  width: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
.Capa_1 {
  > .star-icon {
    fill:transparent;
    stroke: orange;
    stroke-width: 4px;
    transition: all 250ms ease;
    &.active {
      fill:orange;
    }
  }
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
}
#footer {
  background-color: #222;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 1em 40px 1em;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

#breadcrumb li+#favorite-btn:before {
  content: none;
}
/* Add a color to all links inside the list */
#breadcrumb li {
    a {
      color: #0275d8;
      text-decoration: none;
    }
    &#favorite-btn {
      a {
      text-decoration: none;
      color:black;
      }
    }
}

/* Add a color on mouse-over */
#breadcrumb li {
    a:hover {
      color: #01447e;
      text-decoration: underline;
    }
  &#favorite-btn {
      a:hover,a.active {
      text-decoration: none;
      color:orange;
      }
    }
}
/* ====================== Map ====================== */
#map {
  text-align: center;
  img {
    margin:auto;
  }
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 50px;
  background-color: #ce7da4;
  align-items: center;
  display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.filter-options select {
  background-color: white;
  border-radius: 4px;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid transparent;
  outline: none;
  transition: all 250ms ease;
}
.filter-options select:focus {
  border-color: #990d51;
  box-shadow: 0 0 14px -2px #990d51;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  text-align: left;
  width: 330px;
  transition: all 250ms ease;
  article {
    position: relative;
  }
  &.favorite {
    border-color: orange;
    .fav-btn {
      background-color: orange;
      border-color:rgb(231, 150, 0);
    }
    .star-icon {
      fill: white;
      stroke: white;
    }
  }
}
#restaurants-list li:focus-within, #restaurants-list li:hover {
  border-color: #777;
  box-shadow: 0 4px 7px -2px rgba(0,0,0,0.3);
}
#restaurants-list li:focus-within {
  border-color: #990d51;

}
#restaurants-list li .details {
  padding: 0px 30px 25px;
  position: relative;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h3 {
  color: #990d51;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #444;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:all 250ms ease;
  &.fav-btn{
    padding: 0.8em;
    position: absolute;
    top: -36px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
    right: -10px;
    background-color: #eee;
    border: 1px solid rgb(220,220,220);
    border-radius: 15%;
    // border: 0;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      // .star-icon{
      //   fill: orange;
      // }
    }
    &:focus {
      border-color: #990d51;
      box-shadow: 0 0 14px -2px #990d51;
    }
  }
}
#restaurants-list li a:hover, #restaurants-list li a:focus {
  outline: none;
  &.details-btn {
    background-color: #990d51;    
  }
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #maincontent {
  display:flex;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  img {
    max-height: 100%;
    // width: 2px;
  }
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
  box-sizing: border-box;
}
#restaurant-name {
  color: #990d51;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  position: relative;
}
#favorite-btn {
  float: right;
  a {    
    font-size: 16px;
    outline: none;
    padding: 1em 1em 0.5em;
    transition: all 250ms ease;
    color:#6b4915;
    text-align: right;
    border: 1px solid transparent;
    > span {
      vertical-align: 0.25em;
    }
    &:hover {
      color:orange;
      border-color: #ccc;
      .star-icon {
        fill: orange;
        stroke: orange;
      }
    }
    .star-icon {
      stroke: #6b4915;
    }
    &.active {
      color:orange;
      .star-icon {
        fill: orange;
        stroke: orange;
      }
    }
    &:focus {
      border-color: #990d51;
      box-shadow: 0 0 14px -2px #990d51;
      // text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }
  } 
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
  box-sizing: border-box;
}
#reviews-container {
  padding: 30px 40px 80px;
  outline: none;
  position: relative;
  form {
    margin-top: 20px;
    outline: none;
  }
  form > .thank-div {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    pointer-events: none;
    opacity: 0;
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 4px 7px -2px rgba(0,0,0,0.4);
    text-align: center;
    padding-top: 15%;
    box-sizing: border-box;
    transition: all 500ms ease;
    transform: scale(1.05);
    &.show {
      pointer-events: initial;
      opacity: 1;
    }
  }
  form > input {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: .5em;
    box-sizing: border-box;
    transition: all 250ms ease;
    margin-bottom: 0.5em;
    border: 1px solid rgb(150,150,150);
    &:focus {
      outline: none;
      border-color: #990d51;
      box-shadow: 0 0 14px -2px #990d51;
    }
  }
  form > textarea {
    width: 70%;
    height: 7em;
    resize: vertical;
    transition: all 250ms ease;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0 0.5em;
    font-size: 14px;
    padding: 0.5em;
    border: 1px solid rgb(150,150,150);
    box-sizing: border-box;
    &:focus {
      outline: none;
      box-shadow: 0 0 14px -2px #990d51;
      border-color: #990d51;
    }
  }
  form #ratingCont > div {
    border: 1px solid transparent;    
    transition: all 250ms ease;
    &:focus {
      outline: none;
      box-shadow: 0 0 14px -2px #990d51;
      border-color: #990d51;
    }
  }
  form > .submit-btn {
    background-color: #444;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 0.5em 0 0.5em;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition:all 250ms ease;
    &:hover, &:focus {
      background-color: #990d51;
      outline: none;
    }
  }
}
#reviews-container h2 {
  color: #990d51;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px 20px 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  transition: all 250ms ease;
  align-items: center;
}
#reviews-list li > .dividor {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0 0;
}
#reviews-list li > div {
  width: 50%;
}
#reviews-list li > div:nth-child(2) {
  text-align: right;
}
#reviews-list li > div:first-child p {
  margin: 0;
}
#reviews-list li:focus, #reviews-list li:focus-within, #reviews-list li:hover {
  border-color: #777;
  box-shadow: 0 5px 7px -2px rgba(0,0,0,0.3);
}
#reviews-list li div:first-child p:first-child {
  font-size: 1.5em;
  color: #111;
  margin-bottom: 0;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (max-width: 600px) {
  .inside #breadcrumb {
    #favorite-btn {
      a {
        padding: 1em 0.5em 0.33em;
        > span {
          display: none;
        }
      }
    }
  }
 .filter-options {
  flex-direction: column;
  padding-top: 10px;
 }
 .filter-options .selects {
  text-align: center;
 }
 #reviews-container {
   form {
    > input {
      width: 100%;
    }
    >textarea {
      width: 100%;
    }
   }
 }
}
@media screen and (max-width: 900px) {
  .inside #breadcrumb {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    
  }
  .inside #maincontent section {
    position: relative;
    width: 100%;
  }
  .inside #maincontent #map-container {
    height: 50vh;
  }
  .inside section {
    width: 100%;
    position: relative;
  }
  .inside footer {
    width: 100% !important;
  }
}